<!DOCTYPE html>
<body>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="./bower_components/foundation/css/foundation.css">
	<link rel="stylesheet" href="./bower_components/animate.css/animate.css">
	<link rel="stylesheet" href="./css/basic.css">

	<script src="./bower_components/jquery/dist/jquery.min.js"></script>
	<script src="./bower_components/lodash/dist/lodash.min.js"></script>
	<script src="./bower_components/backbone/backbone.js"></script>
	<script src="./bower_components/handlebars/handlebars.min.js"></script>
	<script src="./bower_components/jquery.html5storage/jquery.html5storage.js"></script>
	<script src="./bower_components/socket.io-client/socket.io.js"></script>
	<script src="./bower_components/foundation/js/foundation/foundation.js"></script>
	<script src="./bower_components/foundation/js/foundation/foundation.tooltip.js"></script>
	<script src="./bower_components/foundation/js/vendor/modernizr.js"></script>
	
	<script src="js/basic.js"></script>
</head>
<html>
		<section class="hero-content"> 
		<div class="row">
			<div class="large-5 columns about-content">
				<h4></h4>
				<form class="js-register">
					<div class="row">
						<div class="large-12 columns">
							<input type="text" placeholder="Please, enter your pilot name" />
							<input type="submit" class="radius small button" value="Let's go →"/>
						</div>
					</div>
				</form>
				<form class="js-registred">
					<div class="row">
						<div class="large-12 columns">
							<p></p>
							<input type="submit" class="radius small button" value="Leave the race →"/>
						</div>
					</div>
				</form>
			</div>
			
			<div class="large-7 columns about-result js-pulse"></div>
		</div>
		</section>
		
		<section class="js-race"></section>
</html>

<script id="pulse-template" type="text/x-handlebars-template">
	<ul class="small-block-grid-3">
		{{#each .}}
		<li><span class="label {{#if state}}success{{else}}failure{{/if}}">{{#if state}}on{{else}}off{{/if}}</span><span data-tooltip aria-haspopup="true" class="has-tip" title="{{help}}">{{@key}}</span></li>
		{{/each}}
	</ul>
</script>

<script id="race-template" type="text/x-handlebars-template">
	{{#each .}}
	<div class="row">
		<div class="large-12 columns">
			<div class="row">
				<div class="large-2 columns"><p>{{name}}</p></div>
				<div class="large-10 columns">
					<ul class="inline-list">
						{{#each progress}}
						<li class="{{#if this}}done{{/if}}"></li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
	</div>
	{{/each}}
</script>
</body>  