form.js-registred {
	display: none;
}
form .button.right {
	padding: 15px 0px;
	width: 80px;
}

span.label.failure {
	color: black;
	background: none;
	border: 1px solid white;
}
span.label.success: {
	border: 1px solid #43ac6a;
}

li span.label {
	margin-right: 5px;
}

.about-result {
	margin-top: 10px;
}

ul.inline-list li {
	width: 60px;
	border-bottom: 3px solid #43ac6a;
	margin: 2px;
	margin-top: 11px;
}

ul.inline-list li.done {
	border-bottom: 10px solid #43ac6a;
	margin-top: 8px;
}

/* inherited */

body
{
	font-family: 'Raleway',sans-serif;
	font-size: 18px;
}
hr
{
	margin: 0 auto;
	opacity: 0.5;
	text-align: center;
}
ul.inline-list.right
{
	text-transform: none;
}
ul.inline-list.right a
{
	color: #000;
}
ul.inline-list.right a:hover
{
	color: rgba(0,0,0,0.5);
}
h1
{
	color: #fff;
	font-family: 'American Typewriter','Courier New',Courier,Monaco,mono;
	font-size: 32px;
	line-height: 28px;
	margin-bottom: 0px;
	margin-top: 16px;
	text-align: center;
}
h2
{
	color: #fff;
	font-family: 'American Typewriter','Courier New',Courier,Monaco,mono;
	font-size: 36px;
	line-height: 34px;
}
h3
{
	color: #fff;
	font-family: 'American Typewriter','Courier New',Courier,Monaco,mono;
	font-size: 24px;
	font-weight: 500;
	line-height: 10px;
	padding-bottom: 10px;
	text-align: center;
}
h4
{
	color: #000;
	font-family: 'American Typewriter','Courier New',Courier,Monaco,mono;
	font-size: 28px;
	padding-top: 5px;
}
.columns.large-centered
{
	padding-left: 5px;
	padding-right: 5px;
}
@media only screen and (max-width: 40em)
{
	.columns.large-centered
	{
		font-size: 13px;
	}
}
@media only screen and (min-width: 40.063em)
{
	.columns.large-centered
	{
		font-size: 14px;
	}
}
.about-box
{
	color: #fff;
}
.black-box
{
	background-color: rgba(0,0,0,0.55);
	font-weight: 900;
	padding: 35px;
}
.black-box p
{
	font-weight: 900;
}
.secondary.small.button
{
	background-color: transparent;
	border: 2px #fff solid;
	border-radius: 5px;
	color: #fff;
	margin: 0;
	padding: 15px 50px 15px 50px;
}
.secondary.small.button:hover
{
	background-color: rgba(255,255,255,0.5);
}
.row .main-wrapper
{
	color: #fff;
}
.about-content
{
	background-color: #fff;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}
.button-group li .button
{
	border: 0!important;
}
.button
{
	background-color: transparent;
	border-width: 0;
	box-shadow: 0 0 0;
	text-align: center;
	webkit-appearance: none;
}
.button:hover
{
	background-color: transparent;
	color: rgba(255,255,255,0.7);
}
footer p,footer a
{
	font-size: 14px;
}
.hero
{
	background-size: cover;
	box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.2);
	padding-bottom: 50px;
}
.hero-content
{
	background-color: #EAEAEA;
	padding-bottom: 40px;
	padding-top: 40px;
	margin-bottom: 50px;
}
.panel
{
	background-color: #EAEAEA;
	border: none;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
	margin: 40px 0 40px 0;
}
.large-4 img
{
	box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}
.radius.button
{
	border: 2px #000 solid;
	border-radius: 5px;
	color: #000;
	font-size: 0.8125em;
	margin-bottom: 15px;
	padding: 15px 50px 15px 50px;
}
.radius.button:hover, .radius.button:focus
{
	background-color: rgba(0,0,0,0.1);
}